@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles in index.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
 
  color: white; /* Optional: if you want the text to be white on the body */
}
